<center>
    <a class="get-muwire" href="https://muwire.com/downloads/MuWire-0.8.13.exe">MuWire 0.8.13 for Windows</a>
    <a class="get-muwire" href="https://muwire.com/downloads/MuWire-0.8.13.dmg">MuWire 0.8.13 for Intel Macs</a>
    <a class="get-muwire" href="https://muwire.com/downloads/MuWire-arm64-0.8.13.dmg">MuWire 0.8.13 for Apple Macs</a>
    <a class="get-muwire" href="https://muwire.com/downloads/MuWire-0.8.13.AppImage">MuWire 0.8.13 for Linux x86-64</a>
    <a class="get-muwire" href="https://muwire.com/downloads/MuWire-aarch64-0.8.13.AppImage">MuWire 0.8.13 for Linux aarch64</a>
    <div class="unixType">
    For other UNIX-like systems, or for non-x86 architectures download <a href="https://muwire.com/downloads/MuWire-0.8.13.zip">MuWire-0.8.13.zip</a>&nbsp;
    <a href="https://muwire.com/downloads/MuWire-0.8.13.zip.sig">(.sig)</a>

    <br/>
    Unzip the file and run the "MuWire" script.
    You need to have Java 11 or newer and an I2P router running.
    This is a <a href="https://github.com/zlatinb/muwire/wiki/Reproducible-build">reproducible build</a>.
    <br/><br/>
    GPG Key Fingerprint 471B 9FD4 5517 A5ED 101F C57D A728 3207 2D52 5E41<br/>
    </div>
    <a class="get-beta" href="https://muwire.com/beta.html">Get MuWire BETA</a>
</center>
